<%@ page language="java" contentType="text/html; charset=ISO-8859-1" 
    pageEncoding="ISO-8859-1" isELIgnored="false"%> 
<!DOCTYPE html> 
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>

</head>
<body>
	<form action="/string">
		<p>
			Write the number to remember DDDD <input size="10" id="numberToRemeber" />
			<input type="submit" formmethod="get" id="idForm" />
		</p>
			<p>th:text="'The Words are:' + ${words} + '.'" </p>
	</form>


</body>
</html>